In [1]:
print("Hello, World!")

Hello, World!

In [33]:
#This is a comment
print("Hello, World!") 

print("Hello, World!") #This is a comment

#print("Hello, World!")
print("Cheers, Mate!")

#This is a comment
#written in
#more than just one line
print("Hello, World!")

"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!
Hello, World!
Cheers, Mate!
Hello, World!
Hello, World!

In [7]:
# creating variables:
x = 5
y = "John"
print(x)
print(y)

5
John

In [8]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [ ]:
# casting:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [10]:
# getting the type:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
x = "John"
# is the same as
x = 'John'

In [ ]:
# case-sensitivity:
a = 4
A = "Sally"
#A will not overwrite a

In [13]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [14]:
#camel case:
myVariableName = "John" 
#pascal case:
MyVariableName = "John"
#snake case:
my_variable_name = "John"

In [15]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [16]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [17]:
#unpacking:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [99]:
# output variable:
x = "Python is awesome"
print(x)

Python is awesome
Python is awesome

In [19]:
# multiple variables output:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [20]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [21]:
x = 5
y = 10
print(x + y)

15

In [101]:
x = 5
y = "John"
print(x, y)

5 John

In [23]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [102]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [25]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [26]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [46]:
# setting the data type:
x = 5
print(type(x))

<class 'int'>

In [28]:
x = "Hello World"
print(x)
print(type(x))

Hello World
<class 'str'>

In [29]:
x = 20
print(x)
print(type(x))

20
<class 'int'>

In [30]:
x = 20.5
print(x)
print(type(x))

20.5
<class 'float'>

In [31]:
x = 1j
print(x)
print(type(x))

1j
<class 'complex'>

In [34]:
x = ["apple", "banana", "cherry"]
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [35]:
x = ("apple", "banana", "cherry")
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [36]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [38]:
x = {"apple", "banana", "cherry"}
print(x)
print(type(x))

{'cherry', 'banana', 'apple'}
<class 'set'>

In [39]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

In [40]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [43]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

In [45]:
# setting the specific data type:
x = str("Hello World")
print(x)
print(type(x))

Hello World
<class 'str'>

In [47]:
x = int(20)
print(x)
print(type(x))

20
<class 'int'>

In [48]:
x = float(20.5)
print(x)
print(type(x))

20.5
<class 'float'>

In [50]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [55]:
# int:

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [54]:
# float:

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [57]:
# float:scientific numbers with an "e"

x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [58]:
# complex:

x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [59]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [62]:
import random

print(random.randrange(1, 10))

1

In [64]:
# python casting:

#integers:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

#floats:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

#strings:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

1
2
3

In [65]:
print("Hello")
print('Hello')

Hello
Hello

In [66]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [67]:
a = "Hello"
print(a)

Hello

In [68]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [69]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [70]:
# string as an array:
a = "Hello, World!"
print(a[1])

e

In [71]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [72]:
# string length:
a = "Hello, World!"
print(len(a))

13

In [77]:
# presence in string:
txt = "The best things in life are free!"
print("free" in txt)

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

True
Yes, 'free' is present.

In [78]:
txt = "The best things in life are free!"
print("expensive" not in txt)

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

True
No, 'expensive' is NOT present.

In [79]:
b = "Hello, World!"
print(b[2:5])

llo

In [80]:
b = "Hello, World!"
print(b[:5])

Hello

In [81]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [82]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [84]:
# modifying strings:

a = "Hello, World!"
print(a.upper())

a = "Hello, World!"
print(a.lower())

HELLO, WORLD!
hello, world!

In [87]:
# removing whirespace:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

# replacing string:
a = "Hello, World!"
print(a.replace("H", "J"))

# splitting string:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

Hello, World!
Jello, World!
['Hello', ' World!']

In [89]:
# string concatenation:

a = "Hello"
b = "World"
c = a + b
print(c)

a = "Hello"
b = "World"
c = a + " " + b
print(c)

HelloWorld
Hello World

In [94]:
# f strings:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

# placeholder:
price = 59
txt = f"The price is {price} dollars"
print(txt)

price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

txt = f"The price is {20 * 59} dollars"
print(txt)

My name is John, I am 36
The price is 59 dollars
The price is 59.00 dollars
The price is 1180 dollars

In [ ]:
# escape character: 
txt = "We are the so-called \"Vikings\" from the north."