In [12]:
print(20 > 10)
print(20 == 10)
print(20 < 10)

True
False
False

In [13]:
a = 19
b = 18

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
# Evaluating a string and a number:

print(bool("Hello"))
print(bool(15))

True
True

In [ ]:
# Evaluating two variables:

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [ ]:
# Most values are True:

bool("abc")
bool(123)
bool(["haha", "jaja", "hehe"])

True

In [ ]:
# Some values are False:

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [ ]:
# Class with a __len__ function:

class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [16]:
# Functions can return a value:

def myFunction() :
  return True

print(myFunction())

True

In [9]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [18]:
# Is an int check:

x = 18
print(isinstance(x, int))

True

In [ ]:
# arithmetic operators:

print(10 * 5)
print(20 + 9)
print(20 / 10)
print(19 - 10)
print(26 % 2)
print(2 ** 3)
print(21 // 10)

50
29
2.0
9
0
8
2

In [ ]:
# assignment operators:

a = 10
print(a) # =

b = 10
b += 5
print(b) # +=

c = 10
c -= 5
print(c) # -=

d = 10
d /= 5
print(d) # /=

e = 10
e *= 2
print(e) # *=

f = 10
f %= 3
print(f) # %=

g = 10
g //= 6
print(g) # //=

10
15
5
2.0
20
1
1

In [35]:
# comparison operators:

x = 5
y = 10
print(x == y)

a = 29
b = 28
print(a > b)

c = 16
d = 16
print(c != d)

False
True
False

In [36]:
# logical operators:

# and:
x = 6
print(x > 3 and x < 10)

# or:
x = 6
print(x > 3 or x < 5)

# nor:
x = 5
print(not(x > 3 and x < 10))

True
True
False

In [39]:
# identity operators:

#is:
x = ["ice cream", "pizza"]
y = ["ice cream", "pizza"]
z = x

print(x is z)
print(x is y)
print(x == y)

# is not:
a = ["apple", "banana"]
b = ["apple", "banana"]
c = a

print(a is not c)
print(a is not b)
print(a != b)

True
False
True
False
True
False

In [42]:
# membership operators:

# in:
x = ["series", "tv-show"]
print("horror" in x)

# not in:
y = ["lalaland", "the notebook"]
print("ameli" not in y)

False
True

In [48]:
# bitwise operators:

# AND:
print(6 & 3)

# OR:
print(6 | 3)

# XOR:
print(6 ^ 3)

# NOR:
print(~3)

2
7
5
-4

In [ ]:
# operator precedence:

print((6 + 3) - (6 + 3))

print(100 + 5 * 3)

print(5 + 4 - 7 + 3)

0
115
5

In [52]:
# Lists:

thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
#duplicates (allowed):
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
#length:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [ ]:
#items: data types

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]

In [ ]:
#type():

mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [ ]:
#list() constr:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
#access items:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

banana
cherry

In [65]:
#range of indexes:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']

In [66]:
# if item exists:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [67]:
# Change item values:

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [68]:
# changing the range of item values:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [69]:
# changing with replace:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [70]:
# replacing with one value:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [71]:
# inserting items:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
# Add list items:

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#insert items:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
#extend items:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
#add any iterable:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [77]:
# Remove list items:

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [78]:
#removing the first occurence:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [84]:
#removing specified item:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

fruits = ["apple", "banana", "cherry"]
fruits.pop()
print(fruits)

# del:

languages = ["kz", "trk", "eng"]
del languages[0]
print(languages)

animals = ["dog", "cat", "unicorn"]
del animals

# clear:
body_parts = ["hand", "eyes", "belly"]
body_parts.clear()
print(body_parts)

['apple', 'cherry']
['apple', 'banana']
['trk', 'eng']
[]

In [87]:
# Loop:

#through a list:
list1 = ["car", "bicycle", "boat"]
for x in list1:
  print(x)

#through indexes:
list2 = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

car
bicycle
boat
apple
banana
cherry

In [88]:
#while loop:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [95]:
#list comprehension:

#1:
sport = ["karate", "volleyball", "basketbol", "football", "swimming"]
newlist = []

for x in sport:
  if "a" in x:
    newlist.append(x)

print(newlist)

#2:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['karate', 'volleyball', 'basketbol', 'football']
['apple', 'banana', 'mango']

In [97]:
# Sort:

#alphabetically:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

#numerically:
thislist = [1, 10, 6, 8, 2]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[1, 2, 6, 8, 10]

In [99]:
# sort descending:

#1:
list1 = ["orange", "mango", "kiwi", "pineapple", "banana"]
list1.sort(reverse = True)
print(list1)

#2:
list2 = [100, 50, 65, 82, 23]
list2.sort(reverse = True)
print(list2)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']
[100, 82, 65, 50, 23]

In [100]:
# customizing:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [102]:
# case-insensitive:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [103]:
# reversing the order:
list = ["banana", "Orange", "Kiwi", "cherry"]
list.reverse()
print(list)

['cherry', 'Kiwi', 'Orange', 'banana']

In [113]:
# Copy list:

#copy():
cars = ["BMW", "Toyota", "Volkswagen"]
mylist = cars.copy()
print(mylist)

#slice operator:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['BMW', 'Toyota', 'Volkswagen']
['apple', 'banana', 'cherry']

In [117]:
# Join list:

#example 1:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

#example 2:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

#example 3:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

In [118]:
# Tuples:

tuple1 = ("apple", "banana", "cherry")
print(tuple1)

('apple', 'banana', 'cherry')

In [121]:
#duplicates (allowed):
colors = ("red", "blue", "white", "red", "white")
print(colors)

('red', 'blue', 'white', 'red', 'white')

In [122]:
#length:
fruits = ("apple", "banana", "cherry")
print(len(fruits))

3

In [123]:
#creating tuple with one item:
tup = ("apple",)
print(type(tup))

#NOT a tuple
tup = ("apple")
print(type(tup))

<class 'tuple'>
<class 'str'>

In [ ]:
#tuples:data types
tuple1 = ("water", "juice", "tea")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)


tuple4 = ("abc", 34, True, 40, "male")

In [127]:
#type():
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [ ]:
#tuple constr:
thistuple = tuple(("apple", "banana", "cherry")) # the double round-brackets !
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
# Access tuple items:

tuple1 = ("pp1", "pp2", "ads")
print(tuple1[1])

#negative indexing:
tuple1 = ("pp1", "pp2", "ads")
print(tuple1[-1])

pp2
ads

In [140]:
languages = ("kz", "eng", "rus", "chn", "kor", "isp", "frn")
print(languages[2:5])
print(languages[:4])
print(languages[2:])
print(languages[-4:-1])

('rus', 'chn', 'kor')
('kz', 'eng', 'rus', 'chn')
('rus', 'chn', 'kor', 'isp', 'frn')
('chn', 'kor', 'isp')

In [142]:
# if item exists check:
languages = ("kz", "eng", "rus")
if "kz" in thistuple:
  print("Yes, 'kz' is in the fruits tuple")

In [153]:
# Update tuples:

countries = ("Kazakhstan", "Turkey", "Korea")
x = ("Russia",)
countries += x
print(countries)

# Delete tuples: this will raise an error because the tuple no longer exists

"""
cities = ("Atyrau", "Almaty", "Aktau")
y = list(cities)
y.remove("Atyrau")
cities = tuple(y)
print(cities)
"""

('Kazakhstan', 'Turkey', 'Korea', 'Russia')

'\ncities = ("Atyrau", "Almaty", "Aktau")\ny = list(cities)\ny.remove("Atyrau")\ncities = tuple(y)\nprint(cities)\n'

In [155]:
# Unpack:

#packing:
fruits = ("apple", "banana", "cherry")

#unpacking:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [156]:
# using asterisk (*):
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [159]:
# Loop

#through a tuple:
tuple = ("white", "grey", "black")
for x in tuple:
  print(x)

#through indexes:
tuple = ("white", "grey", "black")
for i in range(len(tuple)):
  print(tuple[i])

white
grey
black
white
grey
black

In [ ]:
# While loop:

tuple = ("white", "grey", "black")
i = 0
while i < len(tuple):
  print(tuple[i])
  i = i + 1

white
grey
black

In [164]:
# Join tuple:

#1:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

#2:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('a', 'b', 'c', 1, 2, 3)
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [175]:
# Sets:
set1 = {"yogurt", "frozen chicken", "lasagne"}
print(set1)

{'yogurt', 'frozen chicken', 'lasagne'}

In [183]:
# dublicates (not allowed):
set1 = {"yogurt", "frozen chicken", "lasagne", "yogurt", "lasagne"}
print(set1)

#(True = 1):
set2 = {"squidward", "mojito", "gum", True, 1, 2}
print(set2)

#(False = 0):
set3 = {"quiz", "midterm", "endterm", False, True, 0}
print(set3)

{'yogurt', 'frozen chicken', 'lasagne'}
{True, 2, 'squidward', 'mojito', 'gum'}
{False, True, 'endterm', 'quiz', 'midterm'}

In [185]:
#length:
thisset = {"kz", "trk", "eng"}
print(len(thisset))

3

In [187]:
#data types:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

set4 = {"abc", 34, True, 40, "male"}

In [ ]:
# type():
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [ ]:
#set constr:
thisset = set(("first course", "second course", "third course")) # the double round-brackets
print(thisset)

{'second course', 'first course', 'third course'}

In [198]:
# Access items:

#loop through the set:
coffee_set = {"espresso", "cappucino", "latte"}
for x in coffee_set:
  print(x)
print("espresso" in coffee_set)
print("latte" not in coffee_set)

latte
espresso
cappucino
True
False

In [204]:
# Add:
set1 = {"white", "red", "blue"}
set1.add("pink")
print(set1)

# Adding from another set:
set2 = {"black", "yellow", "beige"}

set1.update(set2)

print(set1)

{'red', 'white', 'pink', 'blue'}
{'red', 'white', 'blue', 'yellow', 'beige', 'black', 'pink'}

In [208]:
# Remove:
set1 = {"mango", "papaya", "cherry"}
set1.remove("cherry")
print(set1)

set2 = {"kz", "eng", "rus"}
set2.discard("rus")
print(set2)

set3 = {"New York", "London", "Manchester"}
x = set3.pop()
print(x)
print(set3)

{'papaya', 'mango'}
{'eng', 'kz'}
London
{'Manchester', 'New York'}

In [211]:
#clear():
thisset = {"water", "water1", "water2"}
thisset.clear()
print(thisset)

set()

In [212]:
# Loop items:

set1 = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

In [217]:
# Join:

#1:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

#2:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1 | set2
print(set3)

# multiple sets:1
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset = set1.union(set2, set3, set4)
print(myset)

#multiple sets:2
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset = set1 | set2 | set3 |set4
print(myset)

{'a', 1, 2, 3, 'b', 'c'}
{'a', 1, 2, 3, 'b', 'c'}
{1, 2, 3, 'Elena', 'John', 'c', 'bananas', 'a', 'cherry', 'b', 'apple'}
{1, 2, 3, 'Elena', 'John', 'c', 'bananas', 'a', 'cherry', 'b', 'apple'}

In [224]:
#joining a set with a tuple:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

#upd:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

#intersection:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

#difference:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)
print(set3)

#symmetric difference:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}
{'a', 1, 2, 3, 'b', 'c'}
{'apple'}
{'banana', 'cherry'}
{'microsoft', 'cherry', 'banana', 'google'}

In [225]:
# Dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [226]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [228]:
#duplicates(not allowed):
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)
print(len(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
3

In [230]:
# data types:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(type(thisdict))

<class 'dict'>

In [231]:
# dict const:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [236]:
# Access:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

x = thisdict.get("model")
print(x)

x = thisdict.keys()
print(x)

x = thisdict.values()
print(x)

Mustang
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])

In [240]:
# Change:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["year"] = 2018
print(thisdict)

thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [242]:
# Add:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["color"] = "red"
print(thisdict)

thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [245]:
# Remove:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict.pop("model")
print(thisdict)

thisdict.popitem()
print(thisdict)

#del thisdict["model"]
#print(thisdict)

thisdict.clear()
print(thisdict)

{'brand': 'Ford', 'year': 1964}
{'brand': 'Ford'}
{}

In [251]:
# Loop:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x in thisdict:
  print(x)

for x in thisdict:
  print(thisdict[x])

for x in thisdict.values():
  print(x)

for x in thisdict.keys():
  print(x)

for x, y in thisdict.items():
  print(x, y)

brand
model
year
Ford
Mustang
1964
Ford
Mustang
1964
brand
model
year
brand Ford
model Mustang
year 1964

In [252]:
# Copy:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# Nested:

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

# Example:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily["child2"]["name"])

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
Tobias

In [260]:
# If...Else:

#IF:
a = 67
b = 201
if b > a:
  print("b is greater than a")

#ELIF:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

#ELSE:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")


#short-hand IF:
a = 200
b = 33
if a > b: print("a is greater than b")

#short-hand IF...ELSE:
a = 2
b = 330
print("A") if a > b else print("B")

b is greater than a
a and b are equal
a is greater than b
a is greater than b
B

In [266]:
# AND:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

#OR:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

#NOT:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

#Nested IF:
x = 41
if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

#PASS statement
a = 33
b = 200
if b > a:
  pass
# having an empty if statement like this, would raise an error without the pass statement

Both conditions are True
At least one of the conditions is True
a is NOT greater than b
Above ten,
and also above 20!

In [272]:
# Python Match:

"""
match expression:
case x:
code block
case y:
code block
case z:
code block

"""

day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

# default:
day = 4
match day:
  case 6:
    print("Today is Saturday")
  case 7:
    print("Today is Sunday")
  case _:
    print("Looking forward to the Weekend")

# combine:
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Today is a weekday")
  case 6 | 7:
    print("I love weekends!")

# if statements...as guards:
month = 5
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5 if month == 4:
    print("A weekday in April")
  case 1 | 2 | 3 | 4 | 5 if month == 5:
    print("A weekday in May")
  case _:
    print("No match")

Thursday
Looking forward to the Weekend
Today is a weekday
A weekday in May

In [273]:
# While Loops:

i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
#break statement:
i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1

1
2
3

In [275]:
#continue statement:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [276]:
# else statement:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [278]:
# FOR loops:

colours = ["black", "brown", "white"]
for x in colours:
  print(x) 

for x in "brown":
  print(x)

black
brown
white
b
r
o
w
n

In [ ]:
# break statement:
colours = ["black", "brown", "white"]
for x in colours:
  print(x) 
  if x == "brown":
    break

black
brown

In [280]:
# continue statement:
colours = ["black", "brown", "white"]
for x in colours:
  if x == "brown":
    continue
  print(x)

black
white

In [281]:
#the range function:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [282]:
#using start parameter:
for x in range(2, 6):
  print(x)

2
3
4
5

In [283]:
#Increment the sequence with 3 (default is 1):
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [285]:
#Else statement (for loop):
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [287]:
# Nested for loops:

adj = ["sweet", "chocolate", "tasty"]
fruits = ["cinnamon", "croissant", "brownie"]

for x in adj:
  for y in fruits:
    print(x, y)

sweet cinnamon
sweet croissant
sweet brownie
chocolate cinnamon
chocolate croissant
chocolate brownie
tasty cinnamon
tasty croissant
tasty brownie

In [288]:
for x in [0, 1, 2]:
  pass

# having an empty for loop like this, would raise an error without the pass statement